/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body , html{
  font-family: sans-serif; /* Example font family */
  overflow-x: hidden; /* Hide horizontal overflow */
}

img {
  max-width: 100%;
  height: auto;
}